<div class="flex justify-center text-amber-100">
  <div>{{ today | date }}</div>
</div>

<div class="text-amber-100 flex flex-wrap temperature-blanket">
  <div class="day clickable" (click)="toggleText()" *ngFor="let day of response?.history?.data"
       [ngClass]="getClassForTemperature(day?.forecast?.forecastday?.[0]?.day?.avgtemp_f || 0)"
  >
    <div [ngClass]="{'hidden': isTextVisible}">
      <p>{{ day?.forecast?.forecastday?.[0]?.date }}</p>
      <p>{{ day?.forecast?.forecastday?.[0]?.day?.avgtemp_f }}</p>
    </div>
  </div>
  <div class="outline accent-red-400" *ngIf="error$|async">{{ error$.getValue()?.error }}</div>
</div>

